VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

VITE_MEDIA_PROVIDER=
VITE_MEDIA_PUBLIC_KEY=
VITE_MEDIA_PRIVATE_KEY=
VITE_MEDIA_CLOUD_NAME=
VITE_MEDIA_BUCKET_NAME=

VITE_USE_FUNCTIONS_EMULATOR=false
